{{extend 'layout.html'}}

{{block header}}
{{end}}

<div class="center">
<h2>Site Under Construction.</h2>
<h3>Ready to Assemble Kitchen Cabinets</h3>
</div>

<div class="splash-img"> <img src="/tc/static/img-tc/CL-Charleston-Linen.jpg" width="150" height="300" alt="CL-Charleston-Linen.jpg"/>CL-Charleston-Linen</div>
<div class="splash-img"> <img src="/tc/static/img-tc/CS-Charleston-Saddle.jpg" width="150" height="300" alt="CS-Charleston-Saddle.jpg"/>CS-Charleston-Saddle</div>
<div class="splash-img"> <img src="/tc/static/img-tc/CW-Charleston-White-1.jpg" width="150" height="300" alt="CW-Charleston-White-1.jpg"/>CW-Charleston-White</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SA-Shaker-Antique-White.jpg" width="150" height="300" alt="SA-Shaker-Antique-White.jpg"/>SA-Shaker-Antique-White</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SD-Shaker-Dove.jpg" width="150" height="300" alt="SD-Shaker-Dove.jpg"/>SD-Shaker-Dove</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SE-Shaker-Espresso.jpg" width="150" height="300" alt="SE-Shaker-Espresso.jpg"/>SE-Shaker-Espresso</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SG-Shaker-Grey.jpg" width="150" height="300" alt="SG-Shaker-Grey.jpg"/>SG-Shaker-Grey</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SM-Sonoma-Mocha.jpg" width="150" height="300" alt="SM-Sonoma-Mocha.jpg"/>SM-Sonoma-Mocha</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SMW-Sonoma-White-1.jpg" width="150" height="300" alt="SMW-Sonoma-White-1.jpg"/>SMW-Sonoma-White</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SS-Sonoma-Spice.jpg" width="150" height="300" alt="SS-Sonoma-Spice-150x300.jpg"/>SS-Sonoma-Spice</div>
<div class="splash-img"> <img src="/tc/static/img-tc/SW-Shaker-White.jpg" width="150" height="300" alt="SW-Shaker-White.jpg"/>SW-Shaker-White</div>
<div class="splash-img"> <img src="/tc/static/img-tc/TW-Tahoe-White.jpg" width="150" height="300" alt="TW-Tahoe-White.jpg"/>TW-Tahoe-White</div>
<div class="splash-img"> <img src="/tc/static/img-tc/YC-York-Chocolate.jpg" width="150" height="300" alt="YC-York-Chocolate.jpg"/>YC-York-Chocolate</div>
<div class="splash-img"> <img src="/tc/static/img-tc/YW-York-White-e1527963950296.png" width="150" height="300" alt="YW-York-White-e1527963950296.png"/>YW-York-White</div>
